<section class="main-bg">
    <div class="fill-bg"></div>
    <div class="title">
        <div data-aos='fade-up' data-aos-delay='300' data-aos-duration='600' class="sub-title title1">OCEAN PARK - TÒA
            CĂN
            HỘ VĂN PHÒNG</div>
        <div data-aos='fade-up' data-aos-delay='300' data-aos-duration='1200' class="sub-title title2">
            <h2>DUAL KEY - OFFICIAL</h2>
        </div>
        <div data-aos='fade-up' data-aos-delay='300' data-aos-duration='600' class="sub-title title3">Tòa nhà căn hộ
            officetel<br>sở hữu vị
            trí đẹp nhất vinhomes west point</div>
    </div>
</section>

<section class="introduction">
    <div data-aos='fade-right' class="intro-title">
        <h1>OCEAN PARK</h1>
        <p>VỊ TRÍ ĐẸP TRÊN TỌA ĐỘ TRUNG TÂM<br>
            TIÊN PHONG LOẠI HÌNH CĂN HỘ THỜI ĐẠI MỚI</p>
    </div>
    <div class="intro-text">
        <div data-aos='fade-up-right' class="intro-text-col"><b>Ocean Park</b> là một trong những tòa căn hộ của
            <b>Vinhomes
                West
                Point</b> được phát
            triển
            thành
            tòa Căn hộ Văn phòng, đem tới giải pháp “2 trong 1”, sống và làm việc giữa tâm điểm sôi động của phía Tây.
            West 1 sở hữu vị trí đẹp hướng trực tiếp ra mặt đường Phạm Hùng – tuyến đường huyết mạch của cả khu vực.
        </div>
        <div data-aos='fade-up' class="intro-text-col">Tại vị trí năng động bậc nhất đó, West 1 tiên phong xu hướng sống
            và làm việc thời
            đại mới với 2 dòng sản phẩm: <b>Căn hộ Văn phòng tiêu chuẩn</b> và <b>Căn hộ Hai chìa khóa “Dual Key”</b> .
            West 1 là giải
            pháp trọn vẹn cho lối sống hiện đại kết hợp làm việc và đầu tư.</div>
        <div data-aos='fade-left' class="intro-text-col">Thông tin kỹ thuật:
            <br>o&nbsp;&nbsp; Số tầng: 38 tầng
            <br>o&nbsp;&nbsp; Số lượng căn/ sàn: 6 – 13 căn
            <br>o&nbsp;&nbsp; Số lượng thang máy: 8 thang
            <br>o&nbsp;&nbsp; 2 thang bộ kiêm thang thoát hiểm
            <br>o&nbsp;&nbsp; 3 tầng hầm để xe
        </div>
    </div>

</section>
<section class="intro-slide">
    <!-- <owl-carousel-o *ngIf="ngoaithat" [options]="customOptions">
        <ng-container *ngFor="let image of ngoaithat">
            <ng-template carouselSlide>
                <img class="decor" [src]="image" alt="ngoai that">
            </ng-template>
        </ng-container>
    </owl-carousel-o> -->
    <div class="intro-decor">
        <owl-carousel-o *ngIf="ngoaithats" [options]="customOptions">
            <ng-container *ngFor="let ngoaithat of ngoaithats">
                <ng-template carouselSlide>
                    <img data-aos='fade-zoom-in' data-aos-duration="500" data-aos-once='true' class="img-decor"
                        [src]="ngoaithat" alt="ngoai that">
                </ng-template>
            </ng-container>
        </owl-carousel-o>

    </div>
</section>

<section class="officetel clearfix">
    <div data-aos='fade-left' data-aos-once="true" data-aos-delay="100" data-aos-duration='600' class='clearfix-intro'>
        <h1>Officetel</h1>
        <h3>Căn hộ phòng tiêu chuẩn</h3>
        <p>Linh hoạt trong công năng, Căn hộ Văn phòng vừa đáp ứng nhu cầu làm việc, đầu tư hiện đại, vừa đảm bảo nhu
            cầu sống tiện nghi của những công dân thế hệ mới.Không chỉ được thụ hưởng toàn bộ tiện ích của Tổ hợp
            Vinhomes West Point, chủ nhân tương lai tại các Officetel West 1 còn sở hữu mọi ưu thế từ vị trí để khai
            thác công năng văn phòng của các căn hộ của mình.</p>
    </div>
    <div class="clearfix-main">
    </div>
</section>

<section class="officetel dualkey clearfix">
    <div data-aos='fade-right' data-aos-once="true" data-aos-delay="100" data-aos-duration='600' class='clearfix-intro'>
        <h1>DUAL KEY<br> OFFICETEL</h1>
        <h3>CHIA HAI CÔNG NĂNG <br> NHÂN NGÀN LỢI ÍCH</h3>
        <p>Căn hộ <strong>Dual Key Officetel</strong> là một căn hộ sở hữu cùng lúc hai chìa khóa. Với thiết kế linh
            hoạt được tính toán kỹ lưỡng từ đầu, mỗi một căn hộ <strong>Dual Key Officetel</strong>&nbsp;bản chất là một
            cặp hai căn hộ nhỏ trong một, trong đó, mỗi căn hộ riêng lẻ đều đáp ứng đầy đủ không gian sinh hoạt cho một
            gia đình với đầy đủ phòng khách, phòng bếp, phòng ngủ và phòng tắm riêng tư.&nbsp;<strong>Dual Key
                Officetel</strong>&nbsp;tại West 1 ưu việt hơn mô hình nguyên gốc từ nước ngoài nhờ bản chất là một sản
            phẩm Officetel thời thượng. Sự kết hợp này đã khiến <strong>Dual Key Officetel</strong>&nbsp;tại West 1
            &nbsp;vừa giải quyết bài toán tối ưu hóa không gian sinh hoạt cho các gia đình đa thế hệ, vừa là đặc quyền
            linh hoạt trong khai thác sinh lời với các nhà đầu tư nhanh nhạy.</p>
    </div>

    <div class="clearfix-main">
    </div>

</section>
<section class="architecture">
    <div class="arc-content">
        <div class="arc-text">
            <h1>Mặt bằng điển hình</h1>
            <div class='town'>
                <h3>Tòa Ocean</h3>
            </div>
            <div class="series">
                <ul>
                    <li (click)="changeKT(0)">W1-2-5A</li>
                    <li (click)="changeKT(1)">W1-11A-37</li>
                    <li (click)="changeKT(2)">W1-5-10</li>
                </ul>
            </div>
        </div>
        <div class="arc-img">
            <img [src]="kientruc" alt="Kiến trúc">
        </div>
    </div>
</section>
<app-contact-project [location]="location"></app-contact-project>
<app-back-to-top></app-back-to-top>