<div class="cart">
	<app-header-page [name]="headerName"></app-header-page>
	<div class="empty" *ngIf="isEmpty">
		<p>Bạn chưa chọn mua căn hộ nào</p>
		<div class="btn"><a routerLink='/products'>Mua ngay</a></div>
	</div>

	<div class="container" *ngIf="!isEmpty">
		<div class="row">
			<div class="col-lg-8">
				<div class="apartment-info" >
					<div class="apart-img">
						<img src="https://online.vinhomes.vn/on/demandware.static/-/Sites-vinhomes_vn_master/default/dw776c4bfb/images/VH_Westpoint/W1/Apartment/PIM/3PN/3PN_01.jpg"
							alt="">
					</div>
					<div class="apart-name">
						<a routerLink=''><h4>{{apartment.name}}</h4></a>
						<p>{{apartment.project.name}}</p>
					</div>
					<div class="apart-area">
						<h4>Diện tích</h4>
						<p class=""> {{apartment.area}} m<sup>2</sup></p>
					</div>
					<div class="apart-price">
						<h4>Gía BDS</h4>
						<p class="price"> {{ formatNumberService.formatNumber(apartment.price)}}</p>
					</div>
					<div class="remove" (click)="deleteItem(apartment)">
						<fa-icon [icon]="faTimes"></fa-icon>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="wrap-total">
					<div class="line-total">
						<p>Giá BĐS</p>
						<p><b>{{ formatNumberService.formatNumber(apartment.price)}}</b></p>
					</div>
					<div class="line-total">
						<p>Thuế GTGT (tạm tính)</p>
						<p><b>{{ formatNumberService.formatNumber(apartment.price*0.1)}}</b></p>
					</div>
					<div class="line-total">
						<p>Kinh phí bảo trì (tạm tính)</p>
						<p><b>{{ formatNumberService.formatNumber(apartment.price*0.02)}}</b></p>
					</div>
					<div class="line-total">
						<p><b>Tổng tiền niêm yết</b></p>
						<p class="price"><b>{{ formatNumberService.formatNumber(apartment.price +apartment.price*0.1 + apartment.price*0.02)}}</b></p>
					</div>
					<div class="coupon">
						<form action="">
							<div class="input-group mb-1">
								<input #couponCode auto type="text" class="form-control" placeholder="Nhập mã giảm giá">

								<div class="input-group-append">
									<span class="input-group-text" id="button-apply">
										<div (click)="applyCoupon()" class="apply">ÁP DỤNG</div>
									</span>
								</div>
							</div>
						</form>
						<div class="error-coupon" [class.appear]="errorShow">Mã giảm giá không hợp lệ!</div>
						<div class="success-coupon" [class.appear]="successShow">
							<div class="notifice">
								Áp dụng thành công! <br>
								Mã {{couponCode.value}} giảm {{couponPercent}} %
							</div>
							<div class="line-total">
								<p><b>Giảm giá</b></p>
								<p class="price"><b>{{ formatNumberService.formatNumber(couponValue)}}</b>
								</p>
							</div>
						</div>
					</div>
					<div class="line-total" style="margin-top: 15px;">
						<p><b>Tổng tiền mua online</b></p>
						<p class="price"><b>{{ formatNumberService.formatNumber(totalPrice)}}</b></p>
					</div>
					<div class="button-ver">

						<div class="btn" (click)="navigate()">XÁC NHẬN</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<app-notification *ngIf="deleted" [type] = "true" [message] = "deleteSuccessNotification"></app-notification>


























<!-- <div class="container">
	<table id="cart" class="table table-hover table-condensed">
		<thead>
			<tr>
				<th style="width:50%">Sản phẩm</th>
				<th style="width:10%">Giá một phần</th>
				<th style="width:10%">Số phần</th>
				<th style="width:22%" class="text-center">Tạm tính</th>
				<th style="width:10%">Hành động</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item  of getCartDetails">
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-2 hidden-xs"><img style="height: 90px; width: 100px;"
								src="{{ item.product.img }}" alt="..." class="img-responsive" /></div>
						<div class="col-sm-10">
							<h4 class="nomargin">{{ item.product.name }}</h4>
							<p>{{ item.product.shortDescription }}.</p>
						</div>
					</div>
				</td>
				<td data-th="Price">{{ formatNumberService.formatNumber(item.product.priceOfPiece)}}</td>
				<td data-th="Quantity">
					<button (click)="decre(item.product.id, item.product.quantity)" class="btn btn-danger m-lg-1"><i
							class="eva eva-minus"></i></button>
					<button (click)="incre(item.product.id, item.product.quantity)" class="btn btn-primary"><i
							class="eva eva-plus"></i></button>
					<input type="number" class="form-control text-center" value="{{ item.product.quantity }}">


				</td>
				<td data-th="Subtotal" class="text-center">{{ formatNumberService.formatNumber(item.product.priceOfPiece
					* item.product.quantity) }}</td>
				<td data-th="Actions">
					<button (click)="showWarningPopup()" class="btn btn-danger"><i class="eva eva-close"></i></button>
				</td>
				<div 
					class="popup-warning"
					[class.active]="isShowWarningPopup"
					>
					<div class="notice">
						<h3>Bạn chắc chắn muốn xóa sản phẩm ? </h3>
						<button (click)="hiddenWarningPopup()" class="no">Không</button>
						<button (click)="deleteItem(item)" class="yes">Có</button>
					</div>
				</div>
			</tr>

		</tbody>
		<tfoot>
			<tr class="visible-xs">
				<td class="text-center"><strong>Tổng: {{ formatNumberService.formatNumber(total) }} </strong></td>

			</tr>
			<tr>
				<td><a routerLink="/products" class="btn btn-warning"><i class="fa fa-angle-left"></i>Tiếp tục mua
						sắm</a></td>
				<td><a routerLink="/checkout" class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></a></td>
			</tr>
		</tfoot>
	</table>
	
</div> -->