@media (max-width:768px) {
    .apartment-info{
        box-shadow: none;
        div{
            width: 100%;
            height: 50px;
        }
        .apart-img{
            margin-left: 50%;
            transform: translateX(-50%);
        }
        .apart-name, .apart-area, .apart-price, .remove{
            height: 70%;
        }
        
    }
}   