<div class="container">
	<table id="cart" class="table table-hover table-condensed">
		<thead>
			<tr>
				<th style="width:50%">Sản phẩm</th>
				<th style="width:10%">Giá một phần</th>
				<th style="width:10%">Số phần</th>
				<th style="width:22%" class="text-center">Tạm tính</th>
				<th style="width:10%">Hành động</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item  of getCartDetails">
				<td data-th="Product">
					<div class="row">
						<div class="col-sm-2 hidden-xs"><img style="height: 90px; width: 100px;"
								src="{{ item.product.img }}" alt="..." class="img-responsive" /></div>
						<div class="col-sm-10">
							<h4 class="nomargin">{{ item.product.name }}</h4>
							<p>{{ item.product.shortDescription }}.</p>
						</div>
					</div>
				</td>
				<td data-th="Price">{{ formatNumberService.formatNumber(item.product.priceOfPiece)}}</td>
				<td data-th="Quantity">
					<button (click)="decre(item.product.id, item.product.quantity)" class="btn btn-danger m-lg-1"><i
							class="eva eva-minus"></i></button>
					<button (click)="incre(item.product.id, item.product.quantity)" class="btn btn-primary"><i
							class="eva eva-plus"></i></button>
					<input type="number" class="form-control text-center" value="{{ item.product.quantity }}">


				</td>
				<td data-th="Subtotal" class="text-center">{{ formatNumberService.formatNumber(item.product.priceOfPiece
					* item.product.quantity) }}</td>
				<td data-th="Actions">
					<button (click)="showWarningPopup()" class="btn btn-danger"><i class="eva eva-close"></i></button>
				</td>
				<div 
					class="popup-warning"
					[class.active]="isShowWarningPopup"
					>
					<div class="notice">
						<h3>Bạn chắc chắn muốn xóa sản phẩm ? </h3>
						<button (click)="hiddenWarningPopup()" class="no">Không</button>
						<button (click)="deleteItem(item)" class="yes">Có</button>
					</div>
				</div>
			</tr>

		</tbody>
		<tfoot>
			<tr class="visible-xs">
				<td class="text-center"><strong>Tổng: {{ formatNumberService.formatNumber(total) }} </strong></td>

			</tr>
			<tr>
				<td><a routerLink="/products" class="btn btn-warning"><i class="fa fa-angle-left"></i>Tiếp tục mua
						sắm</a></td>
				<td><a routerLink="/checkout" class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></a></td>
			</tr>
		</tfoot>
	</table>
	
</div>
