.container{
    margin-top: 7em;
    margin-bottom: 5em;
    text-align: center;
    i {
        font-size: 80px;
        color: green;
    }
    .icon {
        margin: 3em 0;
    }

    .button {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}