<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<div class="main-content">

    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
        style="min-height: 600px; background-image: url(https://img.freepik.com/free-photo/hi-tech-digital-display-holographic-information-abstract-background_24070-563.jpg?size=626&ext=jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">Xin chào Minh Đạt</h1>
                    <p class="text-white mt-0 mb-5">Đây là trang thông tin cá nhân của bạn, bạn có thể xem, chỉnh sửa
                        thông tin của bạn qua trang này</p>
                    <a href="#!" class="btn btn-info">Chỉnh sửa thông tin</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="assets/img/long.jpg" class="rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">

                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">

                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3>
                                Minh Đạt<span class="font-weight-light">, 22</span>
                            </h3>
                            <div class="h5 font-weight-300">
                                <i class="ni location_pin mr-2"></i>Đồng Tháp
                            </div>
                            <div class="h5 mt-4">
                                <i class="ni business_briefcase-24 mr-2"></i>Nhà đầu tư bất động sản
                            </div>
                            <div>
                                <i class="ni education_hat mr-2"></i>Nong Lam Unisersity
                            </div>
                            <hr class="my-4">
                            <p>Tôi có 1 ước mơ đó là có thể giúp đở mọi người trên thế giới. Bằng cách tôi mua nhiều nhà
                                nhất để giúp mọi người có tiền</p>
                            <a href="#">Hiển thị thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Tài khoản của tôi</h3>
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <h6 class="heading-small text-muted mb-4">Thông tin cá nhân</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-username">Họ và tên</label>
                                            <input type="text" id="input-username"
                                                class="form-control form-control-alternative" placeholder="Minh Đạt"
                                                value="lucky.jesse">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Email
                                            </label>
                                            <input type="email" id="input-email"
                                                class="form-control form-control-alternative"
                                                placeholder="minhdat@example.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-first-name">CMND</label>
                                            <input type="number" id="input-first-name"
                                                class="form-control form-control-alternative" placeholder="********34"
                                                value="Lucky">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-last-name">Số điện
                                                thoại</label>
                                            <input type="number" id="input-last-name"
                                                class="form-control form-control-alternative" placeholder="*******354">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            <!-- Address -->
                            <h6 class="heading-small text-muted mb-4">Địa chỉ liên hệ</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-address">Số nhà</label>
                                            <input id="input-address" class="form-control form-control-alternative"
                                                placeholder="Home Address"
                                                value="Tầng lửng An Phú Plaza, 117 - 119 Lý Chính Thắng" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-city">Phường/Xã</label>
                                            <input type="text" id="input-city"
                                                class="form-control form-control-alternative" placeholder="Phường 7">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-country">Quận/Huyện</label>
                                            <input type="text" id="input-country"
                                                class="form-control form-control-alternative" placeholder="Quận 3">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-country">Thành phố</label>
                                            <input type="text" id="input-postal-code"
                                                class="form-control form-control-alternative" placeholder="Hồ Chí Minh">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4">
                            <!-- Description -->
                            <h6 class="heading-small text-muted mb-4">Về bản thân</h6>
                            <div class="pl-lg-4">
                                <div class="form-group focused">
                                    <label>Về bản thân</label>
                                    <textarea rows="4" class="form-control form-control-alternative"
                                        placeholder="A few words about you ...">Yêu cái đẹp, cái gì đẹp là mê, đặc biệt là những bạn nữ.</textarea>
                                </div>
                            </div>

                        </form>
                        <hr class="my-4">
                        <!-- Description -->
                        <h6 class="heading-small text-muted mb-4">Những sản phẩm đã mua</h6>
                        <div class="pl-lg-4">
                            <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <h4 class="card-title "><b>S6.170608 - 1 PN Deluxe - Tòa O2 - Tầng 3</b>
                                            </h4>
                                        </div>
                                        <div class="col">
                                            <h6 class="card-subtitle mb-2 text-muted">
                                                <p class="card-text text-muted small "> <img
                                                        src="https://img.icons8.com/metro/26/000000/star.png"
                                                        class="mr-1 " width="19" height="19" id="star"> <span
                                                        class="vl mr-2 ml-0"></span> Mua ngày
                                                    <span class="font-weight-bold"> 25/7/2021</span>
                                                </p>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-white px-0 ">
                                    <div class="row">
                                        <div class=" col-md-auto "> <a routerLink="/products/5"
                                                class="btn btn-outlined btn-black text-muted bg-transparent"
                                                data-wow-delay="0.7s"><img
                                                    src="https://img.icons8.com/ios/50/000000/settings.png" width="19"
                                                    height="19"> <small>Xem chi tiết</small></a> <i
                                                class="mdi mdi-settings-outline"></i> <a href="#"
                                                class=" btn-outlined btn-black text-muted"><img
                                                    src="https://img.icons8.com/metro/26/000000/link.png" width="17"
                                                    height="17" id="plus">
                                                <small>Chia sẻ</small> </a> <a href="#"
                                                class="btn btn-outlined btn-black text-muted "><img
                                                    src="https://img.icons8.com/metro/26/000000/more.png" width="20"
                                                    height="20" class="mr-2 more"><small>Nhiểu hơn</small></a> <span
                                                class="vl ml-3"></span> </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <h4 class="card-title "><b>S3.170607 - 2 PN Deluxe - Tòa W1 - Tầng 7</b>
                                            </h4>
                                        </div>
                                        <div class="col">
                                            <h6 class="card-subtitle mb-2 text-muted">
                                                <p class="card-text text-muted small "> <img
                                                        src="https://img.icons8.com/metro/26/000000/star.png"
                                                        class="mr-1 " width="19" height="19" id="star"> <span
                                                        class="vl mr-2 ml-0"></span> Mua ngày
                                                    <span class="font-weight-bold"> 25/7/2020</span>
                                                </p>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-white px-0 ">
                                    <div class="row">
                                        <div class=" col-md-auto "> <a routerLink="/products/2"
                                                class="btn btn-outlined btn-black text-muted bg-transparent"
                                                data-wow-delay="0.7s"><img
                                                    src="https://img.icons8.com/ios/50/000000/settings.png" width="19"
                                                    height="19"> <small>Xem chi tiết</small></a> <i
                                                class="mdi mdi-settings-outline"></i> <a href="#"
                                                class=" btn-outlined btn-black text-muted"><img
                                                    src="https://img.icons8.com/metro/26/000000/link.png" width="17"
                                                    height="17" id="plus">
                                                <small>Chia sẻ</small> </a> <a href="#"
                                                class="btn btn-outlined btn-black text-muted "><img
                                                    src="https://img.icons8.com/metro/26/000000/more.png" width="20"
                                                    height="20" class="mr-2 more"><small>Nhiểu hơn</small></a> <span
                                                class="vl ml-3"></span> </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>