//font-size cho content 
$font-size-content-mobile:16px;

//font-size cho hader 
$font-size-header-mobile:18px;

//font-size cho hader 
$font-size-sub-header-mobile:24px;

//khoang cach giua cac section 
$margin-section-mobile: 40px;

//Khoang cach giua section va sub section
$margin-section-sub-section-mobile: 5px;

//Khoang cach giua noi dung va header
$margin-content-section-mobile: 20px;