//font-size cho content 
$font-size-content-ipad:28px;

//font-size cho content 
$font-size-header-ipad:28px;

//font-size cho content 
$font-size-sub-header-ipad:28px;

//khoang cach giua cac section 
$margin-section-ipad: 40px;

//Khoang cach giua section va sub section
$margin-section-sub-section: 40px;

//Khoang cach giua noi dung va header
$margin-content-section-ipad: 20px;