<div class="register-container">
    <div class="container">
        <div class="title">Đăng ký</div>
        <form (ngSubmit)="submitForm()" #registerForm="ngForm">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Họ và tên</span>
                    <input type="text" [(ngModel)]="user.displayName" name="fullname" #userName=ngModel
                        [ngClass]="{'error': userName.invalid && userName.touched}" required>
                    <p *ngIf="userName.invalid && userName.dirty" style="color: red;">
                        Yêu cầu họ và tên</p>
                </div>
                <div class="input-box">
                    <span class="details">CMND</span>
                    <input type="number" [(ngModel)]="user.providerId" #userproviderId=ngModel required name="tenantId">
                    <p *ngIf="userproviderId.invalid && userproviderId.dirty" style="color: red;">
                        Nhập CMND</p>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" required [(ngModel)]="user.email" name="email" #userEmail=ngModel>
                    <p *ngIf="userEmail.invalid && userEmail.dirty" style="color: red;">
                        Nhập email</p>
                </div>
                <div class="input-box">
                    <span class="details">Số điện thoại</span>
                    <input type="number" [(ngModel)]="user.phoneNumber" name="phoneNumber" #userPhoneNumber=ngModel
                        required>
                    <p *ngIf="userPhoneNumber.invalid && userPhoneNumber.dirty" style="color: red;">
                        Nhập số điện thoại</p>
                </div>
                <div class="input-box">
                    <span class="details">Mật khẩu</span>
                    <input type="password" required [(ngModel)]="user.password" name="password" #userPassword=ngModel>
                    <p *ngIf="userPassword.invalid && userPassword.dirty" style="color: red;">
                        Nhập mật khẩu</p>
                    <p *ngIf="userPassword.invalid && userPassword.dirty" style="color: red;">
                        Mật khẩu phải hơn 6 ký tự</p>
                </div>
                <div class="input-box">
                    <span class="details">Xác nhận mật khẩu</span>
                    <input type="password" required [(ngModel)]="user.confirmPassword" name="confirmPassword"
                        #confirmPassword=ngModel [disabled]="userPassword.invalid === true">
                    <p *ngIf="confirmPassword.invalid && confirmPassword.dirty" style="color: red;">
                        Xác nhận mật khẩu</p>

                </div>
            </div>

            <input class="button" type="submit" value="Register" [disabled]="registerForm.invalid" />
        </form>
    </div>

</div>