nav {
    // background-color: #282c34;
    background-color: #ffffff;
    width: 100%;
    z-index: 300;
    position: fixed;
    display: block;

    &.on-scroll {
        opacity: 0.9;
    }

    .header-container {
        width: 80%;
        margin: auto;
    }

    // drawer (vertical menu)
    @media (max-width: 1024px) {
        .header-container {
            width: 90% !important;
            margin: auto;

            .main-nav {
                .drawer-btn {
                    display: block;
                }

                ul.main-menu.show {
                    transform: translateX(0px);
                }
                ul.main-menu {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    height: 100vh;
                    background-color: #ffffff;
                    border-right: 1px solid #282c34;
                    opacity: 0.9;
                    padding: 80px 40px 0 40px !important;
                    transform: translateX(-600px);
                    display: flex;
                    flex-direction: column;
                    z-index: 1;

                    .close-drawer-btn {
                        display: block;
                    }

                    .drawer-btn fa-icon {
                        font-size: 22px;
                    }

                    li {
                        padding: 20px 0 !important;
                        border-bottom: #29b35b 1px solid;
                    }
                    li:last-child {
                        border-bottom: none;
                    }
                    .close-drawer-btn {
                        position: absolute;
                        top: 15px;
                        right: 20px;
                        fa-icon {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;

        // .menu-btn-resp fa-icon {
        //     !important;
        // }

        // Đây là nút menu và nút đóng menu ẩn hiện
        .drawer-btn {
            display: none;
        }
        .close-drawer-btn {
            display: none;
        }

        .nav-logo {
            margin-top: 5px;
            a {
                color: green;
                font-family: "PT Serif";
                font-weight: bold;
                font-size: 35px;
                text-decoration: none;
                span {
                    color: indigo;
                }
            }
        }

        ul.main-menu {
            display: flex;

            li {
                padding: 0 5px;

                ul.project {
                    left: -20px;
                    position: absolute;
                    background-color: #fff;
                    padding: 15px !important;
                    margin: 0 !important;
                    z-index: 50;
                    min-width: 200px;
                }

                a {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
                    letter-spacing: 1.87px;
                    font-weight: bold;
                    color: #282c34;
                    // text-transform: uppercase;
                }
                a:hover {
                    cursor: pointer;
                    opacity: 0.8;
                    font-weight: bold;
                }

                .navSelected {
                    color: #64ce32 !important;
                }
            }
        }

        ul.right-menu {
            display: flex;
            align-items: center;

            li {
                padding: 0 0px;

                // @media (max-width: 1024px) {
                &:last-child {
                    // padding-right: 35px !important;
                }
                // }
                @media (max-width: 460px) {
                    &.show {
                        display: none !important;
                    }
                }

                &.item-nav-search {
                    &::before {
                        bottom: -2px;
                        z-index: 10;
                        opacity: 0;
                        left: 50%;
                        border: solid transparent;
                        content: "";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                    }
                    .search-hover {
                        position: absolute;
                        top: 70px;
                        right: 140px;
                        left: auto;
                        // display: none;
                        transition: opacity 2s ease-out;
                        opacity: 0;
                        height: 0;
                        overflow: hidden;

                        .close-search-btn {
                            position: absolute;
                            right: 0px;
                            top: -7px;
                        }

                        &.show {
                            opacity: 1;
                            height: auto;
                            display: block !important;
                        }
                    }
                }
                // position: relative;
                // ul.nav-search {
                //     position: absolute;
                //     top: 55px;
                //     right: -15px;
                //     left: auto;
                //     padding: 15px 30px !important;
                //     background: #f1f1f1;
                //     border-radius: 3px;
                //     .search-form {
                //         padding: 5px 10px !important;
                //         form {
                //             input {
                //                 padding: 5px 10px !important;
                //             }
                //         }
                //     }
                // }
                // }

                a {
                    color: #282c34;
                    font-weight: bold;
                    fa-icon {
                        font-size: 16px;
                    }
                }
                a:hover {
                    text-decoration: none;
                    opacity: 0.8;
                }

                button.auth-btn {
                    color: #282c34;
                    font-weight: 600;
                    font-size: 16px;

                    fa-icon {
                        padding-right: 5px;
                    }
                }
                .navSelected {
                    color: #64ce32 !important;
                }
            }
        }
    }
}

// *{
//     list-style-type: none;
//     text-decoration: none;
// }

// nav {
//     background-color: #0082e6;
//     height: 80px;
//     width: 100%;
//     position: absolute;
//     z-index: 1;
//     top: 0;
//     left: 0;
//     right: 0;
//         label.logo {
//             color: white;
//             font-size: 35px;
//             line-height: 80px;
//             padding: 0 100px;
//             font-weight: bold;
//     }
//     ul {
//         float: right;
//         margin-right: 20px;
//         cursor: pointer;
//         li {
//             display: inline;
//             line-height: 80px;
//             margin: 0 5px;
//             .dropdown {
//                 float: right;
//                 display: block;

//             }
//              .cart_value {
//                padding: 0.3em 0.6em;
//                background-color: white;
//                border-radius: 50%;
//                color: black;
//              }
//             .dropdown-item {
//                 color: black;
//             }

//             a {
//                 color: white;
//                 font-size: 17px;
//                 padding: 7px 13px;
//                 border-radius: 3px;
//                 text-transform: uppercase;
//                 &.active, &:hover {
//                     background-color: #1b9bff;
//                     transition: .5s;
//                 }
//             }
//         }
//     }
//     .checkbtn{
//         font-size: 30px;
//         color: white;
//         float: right;
//         line-height: 80px;
//         margin-right: 40px;
//         cursor: pointer;
//         display: none;
//     }

//     #check {
//         display: none;
//     }
//     .eva {
//         color: black;
//     }
// }

// @media (max-width: 952px){
//     nav {
//         label.logo {
//             font-size: 30px;
//             padding-left: 50px;
//         }

//         ul li a {
//             font-size: 16px;
//         }
//         .eva {
//             display: inline;
//         }
//     }
// }

// @media (max-width: 858px){
//     nav {
//         .checkbtn{
//             display: block;
//         }

//         ul {
//             position: fixed;
//             width: 100%;
//             height: 100vh;
//             background: #2c3e50;
//             top: 80px;
//             left: -100%;
//             text-align: center;
//             transition: all .5s;
//         }

//         ul li {
//             display: block;
//             margin: 50px 0;
//             line-height: 30px;
//             a {
//                 font-size: 20px;
//                 &:hover, &.active {
//                     background: none;
//                     color: #0082e6;
//                 }
//             }
//             .dropdown {
//                 float: none;
//             }
//         }
//         #check:checked ~ ul {
//             left: 0;
//         }

//     }
// }
