<nav>
    <div class="container">
        <div class="main-nav">
            <button mat-icon-button (click)="clickDrawerBtn()" class="drawer-btn drawer-btn-show">
                <fa-icon [icon]="faBars"></fa-icon>
            </button>
            <div class="nav-logo">
                <a href="">Xin<span>homes</span></a>
            </div>
            <ul class="main-menu" [class.show]="showDrawer==true">
                <button (click)="clickDrawerBtn()" class="close-drawer-btn" mat-icon-button>
                    <fa-icon [icon]="faTimes"></fa-icon>
                </button>
                <li *ngFor="let menu of menus">
                    <a (click)="changeMenu(menu.key)" [class.navSelected]="menu.key===menuSelected"
                        [routerLink]="menu.value">{{menu.key}}</a>
                </li>
            </ul>
            <ul class="right-menu">

                <li>
                    <button matBadge="5" matBadgeSize="small" matBadgeColor="warn" mat-icon-button>
                        <a (click)="changeMenu('cart')" [class.navSelected]="'cart'===menuSelected" routerLink="cart">
                            <fa-icon [icon]="faShoppingCart"></fa-icon>
                        </a>
                    </button>
                </li>
                <li>
                    <mat-menu #appMenu="matMenu">
                        <ng-template matMenuContent>
                            <a routerLink="login"><button mat-menu-item>Đăng nhập</button></a>
                            <a routerLink="register"><button mat-menu-item>Đăng ký</button></a>
                        </ng-template>
                    </mat-menu>
                    <button class="auth-btn" mat-button [matMenuTriggerFor]="appMenu">
                        <fa-icon [icon]="faUser"></fa-icon>
                        <span>Minh Đạt</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="eva eva-menu"></i>
    </label>
    <label class="logo">LOGO</label>
    <ul>
        <li><a class="active" routerLink="/">Home</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a href="#">Contact</a></li>
        <li><a routerLink="/cart">
                <i class="eva eva-shopping-cart"></i>
                <span class="cart_value">{{ cartItem }}</span>
            </a></li>
        <li>

            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="eva eva-person"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a class="dropdown-item" routerLink="/login" *ngIf="!authService.isLoggedIn()">
                        Log in</a>
                    <a class="dropdown-item" routerLink="/register" *ngIf="!authService.isLoggedIn()">
                        Register</a>
                    <a *ngIf="authService.isLoggedIn()" class="dropdown-item" href="#">
                        Infomation</a>
                    <a *ngIf="authService.isLoggedIn()" class="dropdown-item" (click)="authService.logout()">
                        Log
                        out</a>
                </div>
            </div>
        </li>
    </ul>
</nav> -->