
*{
    list-style-type: none;
    text-decoration: none;
}

nav {
    background-color: #0082e6;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
        label.logo {
            color: white;
            font-size: 35px;
            line-height: 80px;
            padding: 0 100px;
            font-weight: bold;
    }
    ul {
        float: right;
        margin-right: 20px;
        cursor: pointer;
        li {
            display: inline;
            line-height: 80px;
            margin: 0 5px;
            .dropdown {
                float: right;
                display: block;

            }
             .cart_value {
               padding: 0.3em 0.6em;
               background-color: white;
               border-radius: 50%;
               color: black;
             }
            .dropdown-item {
                color: black;
            }

            a {
                color: white;
                font-size: 17px;
                padding: 7px 13px;
                border-radius: 3px;
                text-transform: uppercase;
                &.active, &:hover {
                    background-color: #1b9bff;
                    transition: .5s;
                }
            }
        }
    }
    .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }
    .eva {
        color: black;
    }
}

@media (max-width: 952px){
    nav {
        label.logo {
            font-size: 30px;
            padding-left: 50px;
        }
    
        ul li a {
            font-size: 16px;
        }
        .eva {
            display: inline;
        }
    }
}

@media (max-width: 858px){
    nav {
        .checkbtn{
            display: block;
        }
    
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #2c3e50;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
    
        ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
            a {
                font-size: 20px;
                &:hover, &.active {
                    background: none;
                    color: #0082e6;
                }
            }
            .dropdown {
                float: none;
            }
        }
        #check:checked ~ ul {
            left: 0;
        }

        
    }
}