<div class="footer-container">
    <footer>
        <div class="container">
            <div class="sec aboutus">
                <div class="logo">xin<span>homes</span></div>
                <p>Địa chỉ 1: số 30 đường Phạm Ngũ Lão, phường 4, quận 6, thành phố Hồ Chí Minh</p>
                <p>Địa chỉ 2: số 50 đường Trần Duy Hưng, phường 8, quận Đống Đa, Hà Nội</p>
                <div class="phone">
                    <svg-icon src="assets/svg/phone1.svg" [svgStyle]="{ 'width.px':25,'fill':'#c7c9cc'}">
                    </svg-icon>
                    <span>: +84 353054642</span>
                </div>
                <div class="phone">
                    <svg-icon src="assets/svg/phone2.svg" [svgStyle]="{ 'width.px':25,'fill':'#c7c9cc'}">
                    </svg-icon>
                    <span>: +84 123456655</span>
                </div>
            </div>
            <div class="sec quickLinks">
                <h2>Truy cập nhanh</h2>
                <ul>
                    <li><a routerLink="/contact">Liên hệ</a></li>
                    <li><a routerLink='/qna'>Câu hỏi thường gặp</a></li>
                    <li><a routerLink="/privacy">Chính sách</a></li>
                    <li><a routerLink="/about-us">Về chúng tôi</a></li>
                    <li><a href="#">Điều khoản</a></li>
                </ul>
            </div>
            <div class="sec contact">
                <h2>Hỗ trợ</h2>
                <ul class="info">
                    <li>
                        <div class="icon-detail">
                            <svg-icon src="assets/svg/phone.svg" [svgStyle]="{ 'width.px':25,'fill':'#c7c9cc'}">
                            </svg-icon>
                        </div>
                        <div class="text-detail">
                            <p>Hotline 24/7</p>
                            <p>1900 1811</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-detail">
                            <svg-icon src="assets/svg/question.svg" [svgStyle]="{ 'width.px':25,'fill':'#c7c9cc'}">
                            </svg-icon>
                        </div>
                        <div class="text-detail">
                            <p>Hỗ trợ khách hàng</p>
                            <p>hotro@xinhomes.com.vn</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-detail">
                            <svg-icon src="assets/svg/help.svg" [svgStyle]="{ 'width.px':25,'fill':'#c7c9cc'}">
                            </svg-icon>
                        </div>
                        <div class="text-detail">
                            <p>Chăm sóc khách hàng</p>
                            <p>chamsoc@xinhomes.com.vn</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<div class="copyrightText">
    <p>&copy; Copyright 2021</p>
</div>