<div class="footer-container">
    <footer>
        <div class="container">
            <div class="sec aboutus">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta est dolore explicabo omnis accusantium nostrum dicta voluptatibus temporibus. Praesentium nihil, recusandae perspiciatis quidem dolor nulla eum facere inventore, minus maiores, voluptatum dolores? Obcaecati culpa laudantium omnis quam dignissimos architecto magni laborum mollitia, corrupti enim similique pariatur, asperiores ipsam quaerat earum.</p>
                <ul class="sci">
                    <li><a href="#"><i class="eva eva-twitter"></i></a></li>
                    <li><a href="#"><i class="eva eva-linkedin"></i></a></li>
                    <li><a href="#"><i class="eva eva-github"></i></a></li>
                    <li><a href="#"><i class="eva eva-google"></i></a></li>
                    <li><a href="#"><i class="eva eva-facebook"></i></a></li>
                </ul>
            </div>
            <div class="sec quickLinks">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Terms & Consitions</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="sec contact">
                <h2>Contact us</h2>
                <ul class="info">
                    <li>
                        <span><i class="eva eva-pin"></i></span>
                        <span>72 đường Phạm Ngũ Lão,<br>
                        Quận 1</span>
                    </li>
                    <li>
                        <span><i class="eva eva-email"></i></span>
                        <p><a href="#">dlk@company.ecommerce.com</a></p>
                    </li>
                    <li>
                        <span><i class="eva eva-phone"></i></span>
                        <p><a href="#">+1230982343</a><br>
                        <a href="#">+091831234</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<div class="copyrightText">
    <p>@CopyRight 2021 DLK Company</p>
</div>
