.products-information {
    padding: 100px 0px;
  
    a {
      text-decoration: none;
    }
  
    #carousel {
      float: left;
    }
  
    .content-product {
      float: left;
      padding: 25px 25px 35px 35px;
      box-shadow: 0 0 4px #00000038;
  
      .product-project.col-12 {
        a {
          color: #000000c7;
          font-size: 19px;
          font-weight: 700;
        }
      }
  
      p.product-adress a {
        color: #585757;
        font-size: 14px;
      }
  
      .line-break {
        width: 80px;
        height: 3px;
        background-color: #000147;
      }
  
      h1.product-name.hidden-sm-down2 {
        font-size: 26px;
        color: black;
        font-weight: 600;
        margin-bottom: 15px;
      }
  
      .product_description {
        display: flex;
        justify-content: space-between;
  
        fa-icon.ng-fa-icon {
          display: block;
          text-align: center;
        }
      }
  
      .attribute {
        padding-top: 15px;
  
        .price-detail-content .row {
          padding-left: 8px;
        }
  
        span#lablePrice {
          font-size: 18px;
          font-weight: 600;
          padding-top: 8px;
          display: inline-block;
        }
  
        span#contentprice {
          font-size: 26px;
          color: #ff0000eb;
          font-weight: 700;
        }
  
        span#lableUnitPrice {
          font-size: 13px;
        }
  
        div#unitPrice {
          margin-top: 7px;
        }
  
        span#contentUnitPrice {
          color: #c47c18;
          font-weight: 700;
          font-size: 15px;
        }
  
        button#addToCart {
          background: linear-gradient(to right, #c78a34 0%, #f4b11a 100%);
          color: #fff;
          font-weight: 700;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          border-radius: 40px;
          width: 168px;
          height: 39px;
          font-size: 14px;
          line-height: 39px;
          padding: 0;
          margin-top: 15px;
          border: none;
        }
  
        .box-bottom a {
          background: linear-gradient(to right, #c78a34, #f4b11a);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 17px;
          font-weight: 600;
          margin-left: -8px;
        }
  
        span#lableHotline {
          font-weight: 600;
          font-size: 16px;
          padding-top: 4px;
          display: inline-block;
        }
  
        div#hotline {
          margin-top: 15px;
        }
  
        span#contentHotline {
          color: red;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
  
  
  
  .bdge {
    height: 21px;
    background-color: orange;
    color: #fff;
    font-size: 11px;
    padding: 8px;
    border-radius: 4px;
    line-height: 3px
  }
  
  .comments {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer
  }
  
  .dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
  }
  
  .hit-voting:hover {
    color: blue
  }
  
  .hit-voting {
    cursor: pointer
  }
  
  .information-details {
    margin-bottom: 100px;
  
    h2 {
      text-align: center;
      font-weight: 600;
      padding-top: 25px;
    }
  
    .tab-content {
      border: 1px solid #ddd;
      border-top: none;
      padding: 10px 25px;
  
      ul#utilities {
        display: inline-block;
  
        li {
          width: 25%;
          float: left;
          margin-left: 5.5%;
          margin-bottom: 75px;
          height: 185px;
  
          img {
            width: 100%;
            height: 100%;
          }
        }
  
        h3 {
          text-align: center;
          font-size: 20px;
        }
      }
  
    }
  
    ul.nav.nav-tabs {
      display: flex;
  
      li a {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: grey;
      }
  
      li.active a {
        color: #c47c18;
      }
    }
  
    .content-pane img {
      width: 100%;
    }
  
  }
  
  
  
  @media (max-width: 1180px) {
    .information-details .tab-content ul#utilities li {
      width: 40%;
    }
  
    .information-details .tab-content ul#utilities h3 {
      font-size: 20px;
    }
  
    .content-pane iframe {
      height: 200px;
    }
  }
  
  @media (max-width: 768px) {
    .information-details .tab-content ul#utilities li {
      width: 90%;
    }
  
    .information-details .tab-content ul#utilities h3 {
      font-size: 15px;
    }
  }