// Banner Section
.banner {
    background-image: url("https://storage.googleapis.com/vinhomes-data-01/3_1624089856.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;

    .fill-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba($color: #000, $alpha: 0.4);
    }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     // background-color: rgba(0, 0, 0, 0.6);
    //     z-index: -2;
    //     box-shadow: inset 80px 50px 300px #000000;
    // }
    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     // background-color: rgba(0, 0, 0, 0.6);
    //     z-index: -2;
    //     box-shadow: inset -80px -50px 300px #000000;
    // }

    h2 {
        font-size: 40px;
        font-weight: bold;
        font-family: "EB Garamond", serif;
        letter-spacing: 0.03em;
        margin-bottom: 15px;
        color: #fff;
        z-index: 2;
    }

    p {
        color: #fff;
        height: 15px;
        margin-bottom: 40px;
        font-weight: 500;
        z-index: 2;
    }

    .search-form {
        display: flex;
        justify-content: space-between;
        width: 550px;
        background-color: #fff;
        border-radius: 5px;
        align-items: center;
        z-index: 2;

        input {
            padding: 13px 25px;
            font-size: 16px;
            color: #858993;
            flex: 1;
            outline: none;
            border: none;
            font-weight: 500;
            border-radius: 5px;
        }

        button {
            height: 50px;
            box-sizing: border-box;
            padding: 0 20px;
            align-items: center;
            background-color: #282c34;
            opacity: 0.8;
            border: none;
            outline: none;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }
        button:hover {
            opacity: 0.7;
        }
        fa-icon {
            cursor: pointer;
            font-size: 20px;
            color: #858993;
        }
    }
    @media (max-width: 768px) {
        .welcome {
            font-size: 28px !important;
        }
        .search-form {
            width: 300px;
        }
    }
}

// Introduction Section
.introduction {
    display: flex;
    justify-content: center;
    width: 80%px;
    margin: 70px auto;
    color: #252525;

    .sub-intro {
        padding: 0 15px;
        width: 333px;
        box-sizing: border-box;
        text-align: justify;
    }

    @media (max-width: 768px) {
        font-size: 16px;
        letter-spacing: 1.4px;
    }

    .sub1 .intro-title {
        font-weight: bold;
        font-size: 25px;
        line-height: 1.2em;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-family: "EB Garamond", serif;
    }

    .sub3 .sub-intro-btn {
        font-weight: bold;
        color: indigo;
        text-decoration: none;
        float: right;
    }
    .sub3 .sub-intro-btn:hover {
        text-decoration: underline;
    }
}
@media (max-width: 768px) {
    .introduction {
        display: block;

        .sub-intro {
            width: auto;
            margin: 10px auto;
            padding: 0 10px;
        }
    }
}
@media (max-width: 768px) {
}

// Carousel list product bess-seller
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

// Carousel best-seller

.highligh {
    background-color: #162b75;
    opacity: 0.9;
    color: #fff;
    background-image: url("https://stay.vinhomes.vn/on/demandware.static/Sites-vhm_leasing_en-Site/-/vi_VN/v1629454430659/images/leasing/hompage-bg-slider.png");
    background-position: center;
    object-fit: cover;
    width: 100%;
    // height: 100%;
}

.best-seller {
    background-color: #fff;
}

.product-slide {
    padding: 60px 0;

    .slide-container {
        width: 80%;
        margin: auto;

        h2 {
            text-align: center;
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 35px;
            font-family: "EB Garamond", serif;
            letter-spacing: 0.03em;
            text-transform: uppercase;
        }
    }
}
