@import '../../../share/share.ipad.scss';
@media(max-width: 768px){
    .westpoint{
        .header{
            height: 600px;
            .content-header {
                h1, h2 {
                    font-size: 40px;
                    letter-spacing: 5px;
                    margin-top: 200px;
                }
                h2{
                    font-size: 35px;
                    margin-top: 50px;
                }
            }
        }
        //header   

        .location{
            height: 1550px;
            .container-fluid {
                height: 100%;
                .row {
                    height: 100%;
                    .left.col-xl-6 {                 
                        iframe {
                            right: 5%;
                            height: 60%;
                        }
                    }
                    .right.col-xl-6 {    
                        margin-top: -250px;   
                        .decor-right {
                            top: 60px;
                        }    
                        .content-right {
                            h4, h2 {
                                text-align: center;
                                font-size: 55px;
                                margin-top: 20px;
                                margin-bottom: $margin-content-section-ipad;
                            }
                            h4 {
                                font-size: 42px;
                                margin-bottom: $margin-content-section-ipad;
                            }
                            p {
                                font-size: $font-size-content-ipad;
                                line-height: 40px;
                            }
                        }
                    }
                    
                }
            }

        }
        //location

        .citizen{
            .header-content {
                h3 {
                    font-size: 35px;
                    margin-bottom: $margin-content-section-ipad;
                }
                h2 {
                    font-size: 45px;
                    margin-top: 0;
                    margin-bottom:$margin-content-section-ipad;
                
                }
            }


            .content-citizen {
                width: 90%;
                height: 700px;
                margin-left: 5%;
                p {
                    width: 100%;
                    padding: 15px 15px 15px 0px;
                    font-size: $font-size-content-ipad;
                    border: none;
                    line-height: 30px;
                }
            }
        }
        //citizen

        .value {
            height: 1450px;
            .header-content {
                h3 {
                    font-size: 35px;
                    margin-bottom: $margin-content-section-ipad;
                }
                h2 {
                    font-size: 45px;
                    margin-top: 0;
                    margin-bottom:$margin-content-section-ipad;
                
                }
            }

            


            .content-value.container-fluid {
                padding: 0;
                height: 450px;
                .row {
                    .col-xl-2 {
                        padding: 0;
                        img {
                            width: 100%;
                        }
                        .order-value {
                            bottom: 70px;
                            p {
                                font-size: $font-size-content-ipad;
                            }
                            .box-content {
                                height: 275px;
                                span {
                                    width: 160px;
                                    font-size: 30px;
                                    line-height: 45px;     
                                }
                            }
                            
                            .box-content::before {
                                content: "";
                                position: absolute;
                                width: 50px;
                                height: 2px;
                                background: #ea3b3b;
                                bottom: 40px;
                            }
                        }
                    }
                }
            }
        }
        //value



        .utility{
            height: 1200px;
            .header-content {
                h3 {
                    font-size: 35px;
                    margin-bottom: $margin-content-section-ipad;
                }
                h2 {
                    font-size: 45px;
                    margin-top: 0;
                    margin-bottom:$margin-content-section-ipad;
                
                }
            }
            .content-utility {
                .image-utility {
                    display: none;
                }
                .box-text {
                    transform: translateX(0%);
                    .btn {
                        width: 300px;
                        height: 60px;       
                        font-size: 24px;
                        margin-top: 31px;
                    }
                    .wrap{
                        .col-lg-6{
                           padding-top: 15px;
                        }
                        p {
                            font-size: $font-size-content-ipad;
                            line-height: 40px;
                        }
                        ul li {
                            font-size: $font-size-content-ipad;
                            height: 40px;
                        }
                    }
          
                }
            }
        }
        //utility
        


        .flat{
            .header-content {
                h3 {
                    font-size: 35px;
                    margin-bottom: 30px;
                }
                h2 {
                    font-size: 45px;
                    margin-top: 0;
                    margin-bottom:30px;
                
                }
            }
            .content-flat {
                width: 90%;
                margin-left: 5%;
                p {
                    width: 100%;
                    font-size: $font-size-content-ipad;
                    line-height: 40px;
                }
                h3 {
                    font-size: 40px;
                }
            }
        }
        //flat

    }
     //westpoint
}
