<div *ngIf="event != null">
    <div [ngStyle]="{'background-image': 'url('+ event.image +')'}" class="event-detail-header">
        <div class="header-detail-overlay">
            <h3>Sự kiện</h3>
            <h1 data-aos="fade-up" data-aos-duration="700">{{event.title}}</h1>
        </div>
    </div>
    <div class="main-detail">
        <div class="detail-container">
            <img class="image" [src]="event.image" alt="event image">
            <h1 class="title">{{event.title}}</h1>
            <p>Thời gian: <span class="time">{{event.time}}</span></p>
            <p>Địa điểm: <span class="address">{{event.address}}</span></p>
            <p class="description">{{event.description}}</p>
            <div class="interested">
                <div>
                    <span>
                        <fa-icon [icon]='faChevronLeft'></fa-icon>
                    </span>
                    <a href="events/4">{{events[4].title}}</a>
                </div>
                <div>
                    <a href="events/5">{{events[5].title}}</a>
                    <span>
                        <fa-icon [icon]='faChevronRight'></fa-icon>
                    </span>
                </div>
            </div>
        </div>
        <div class="right-detail">
            <!-- <app-search-form></app-search-form> -->
            <h3>Sự kiện khác</h3>
            <div class="order-detail">
                <div *ngFor="let event of events" class="order-item">
                    <div class="order-img"><img [src]="event.image" alt="image"></div>
                    <div class="order-title"> <a href="events/{{event.id}}">{{event.title}}</a></div>
                </div>
            </div>
        </div>
    </div>
</div>