<div class="container">
    <div class="we-are-block">
        <div id="about-us-section" data-aos="slide-up" data-aos-duration=2000>
            <div class="about-us-image" data-aos="fade-right" data-aos-duration="2000">
                <img src="https://digitalupgrade.com/images/lobbyimage_1.jpg" width="808" height="458"
                    alt="Lobby Image">
            </div>
            <div class="about-us-info" data-aos="fade-left" data-aos-duration="2000">
                <h2>Về chúng tôi</h2>
                <p>Với sứ mệnh mang đến cho Khách hàng kênh tìm kiếm, giao dịch BĐS nhanh chóng và tiện lợi, Xinhomes
                    Online được định
                    nghĩa là phương thức mua BĐS thời đại cách mạng công nghiệp 4.0, tạo ra kênh mua bán BĐS trực tuyến
                    chưa từng có tại
                    Việt Nam. Xinhomes Online là bước đi đột phá, tiên phong trong việc thay đổi thói quen mua bán BĐS
                    tại thị trường trong
                    nước, nhằm mang đến cho Khách hàng sự minh bạch, tiết kiệm thời gian và chi phí.</p>
            </div>
        </div>
        <div id="history-section" data-aos="zoom-in" data-aos-duration=2000>
            <div class="history-image">
                <img src="https://digitalupgrade.com/images/building_pic.jpg" width="951" height="471"
                    alt="Building Pic">
            </div>
            <div class="history-info">
                <h2>Nhiệm vụ của chúng tôi</h2>
                <p>Mang lại cho khách hàng sự tiện lợi, nhanh chóng, những cái nhìn tổng quan nhất về sản phẩm
                    . Đồng thời cũng là sự minh bạch, uy tín khẳng định niềm tin của khách hàng đối với Xinhomes.
                </p>
            </div>
        </div>
    </div>
    <div class="we-are-block">
        <div id="about-us-section" data-aos="slide-right" data-aos-duration="2000">
            <div class="about-us-image">
                <img src="https://img5.goodfon.com/original/1600x900/2/fb/house-greece-corfu-kaminaki-agni-villa-aura-dom-villa-vid--3.jpg"
                    width="808" height="458" alt="Lobby Image">
            </div>
            <div class="about-us-info">
                <h2>Chức năng thương mại điện tử</h2>
                <ul>
                    <li>Chức năng website thương mại điện tử
                        Giao dịch bán BĐS trực tuyến</li>
                    <li>Là nơi công bố chính thức và duy nhất giá bán BĐS trực tuyến của Xinhomes.</li>
                    <li>Hỗ trợ các thủ tục đặt cọc mua BĐS trực tuyến.</li>
                    <li>Tư vấn và hỗ trợ khách hàng các giải pháp mua BĐS qua Trung tâm bán hàng trực tuyến của Xinhomes
                        Online.</li>

                </ul>
            </div>
        </div>
        <div id="history-section" data-aos="fade-down-left" data-aos-duration="2000">
            <div class="history-image">
                <img src="https://images.wallpaperscraft.com/image/living_room_villa_sofas_tables_view_ocean_interior_73660_1600x900.jpg"
                    width="951" height="471" alt="Building Pic">
            </div>
            <div class="history-info">
                <h2>Lợi ích của khách hàng</h2>
                <p>Được trải nghiệm quy trình chăm sóc Khách hàng chuyên nghiệp, tận tâm và chu đáo của Xinhomes.
                </p>
            </div>
        </div>
    </div>
</div>