<footer>
    <div class="footer-container">
        <div class="footer-left">
            <div class="address-item">
                <div class="address-icon">
                    <fa-icon [icon]="faHome"></fa-icon>
                </div>
                <div class="address-content">
                    <h5>Địa chỉ :</h5>
                    <p>Tầng lửng An Phú Plaza, 117 - 119 Lý Chính Thắng, Phường 07, Quận 3, Tp.HCM</p>
                </div>
            </div>
            <div class="address-item">
                <div class="address-icon">
                    <div class="icon-inner">
                        <fa-icon [icon]="faPhoneSquareAlt"></fa-icon>
                    </div>
                </div>
                <div class="address-content">
                    <h5>Số điện thoại & Email :</h5>
                    <p>0902.848.440 - 0938.460.400</p>
                    <p>investmentland01@gmail.com</p>
                </div>
            </div>
            <div class="address-item">
                <div class="address-icon">
                    <fa-icon [icon]="faClock"></fa-icon>
                </div>
                <div class="address-content">
                    <h5>Giờ làm việc :</h5>
                    <p>Thứ 2 - Thứ 6</p>
                    <p>08:00 am - 17:00 pm</p>
                </div>
            </div>
        </div>
        <div class="footer-right">
            <div class="right-main footer-link">
                <ul class="right-content link">
                    <h5>Liên kết</h5>
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="events">Sự kiện</a></li>
                    <li><a href="contact">Liên hệ</a></li>
                    <li><a href="about-us">Về chúng tôi</a></li>
                    <li><a href="privacy">Chính sách</a></li>
                    <li><a href="qna">Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="right-main footer-project">
                <ul class="right-content project">
                    <h5>Dự án</h5>
                    <li><a href="ocean-park-introduce">Ocean Park</a></li>
                    <li><a href="west-point-introduce">West Point</a></li>
                </ul>
            </div>
            <div class="location">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d87668.8235952879!2d105.41670985632803!3d9.86660674661189!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1631771812555!5m2!1svi!2s"
                    width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</footer>