.back-to-top{
    z-index: 11;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 20px;
    background: linear-gradient(to right, #f34e39 0%, #f34e39 13%, #f4523b 22%, #fc6546 50%, #ff6e4b 68%, #ff6e4b 100%);
    fa-icon{
        color: white;
        font-size: 20px;
    }
}
