<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-lg-3 col-md-4 col-sm-12">

                <div class="card">
                    <article class="filter-group">
                        <div class="filter-content collapse show" id="collapse_1">
                            <div class="card-body">
                                <form class="pb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" [(ngModel)]="searchText" name="search"
                                            id="search-text" autofocus placeholder="Search">
                                        <div class="input-group-append">
                                            <button class="btn btn-light" type="button"><i
                                                    class="eva eva-search"></i></button>
                                        </div>

                                    </div>
                                </form>

                                <ul class="banner-discount">
                                    <img src="assets/img/banner_discount.jpg" alt="">
                                </ul>

                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group  .// -->
                    <article class="filter-group">
                        <h1 style="text-align: center;">Lọc theo dự án</h1>
                        <div class="filter-content collapse show" style="text-align: center;" id="collapse_2">
                            <div class="card-body">
                                <select name="projects" id="projects" class="dropdown btn btn-secondary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <option value=" all" (click)="filterLocationFunc(1)" class="dropdown-item">Tất cả dự
                                        án</option>
                                    <option value="west" (click)="filterLocationFunc(2)" class="dropdown-item">Dự án
                                        Ocean Park</option>
                                    <option value="point" (click)="filterLocationFunc(3)" class="dropdown-item">Dự án
                                        West point</option>
                                </select>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                    <article class="filter-group">
                        <div class="filter-content collapse show" id="collapse_2">
                            <div class="card-body">
                                <label class="custom-control custom-checkbox promotion">
                                    Thành phố Biển hồ - Thiên đường nghỉ dưỡng mỗi ngày
                                </label>
                                <label class="custom-control custom-checkbox promotion">
                                    Tổng diện tích: <strong>420 ha</strong>
                                </label>
                                <label class="custom-control custom-checkbox promotion">
                                    Mật đô xây dựng: ~ <strong>19%</strong>
                                </label>
                                <label class="custom-control custom-checkbox promotion">
                                    Hệ thống tiện ích đa dạng:
                                    <ul>
                                        <li>Biển hồ nước mặn và hồ nước ngọt nhân tạo trải cát trắng lớn nhất thế giới
                                        </li>
                                        <li>Đại học quốc tế <strong>XinUni</strong>, hệ thống trường học liên cấp
                                            <strong>XinSchool</strong>
                                        </li>
                                        <li>TTTM <strong>Xincom Mega Mall</strong></li>
                                        <li>Bệnh viện đa khoa <strong>Xinmec</strong></li>
                                    </ul>
                                </label>

                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->

                    <article class="filter-group">
                        <div class="filter-content collapse show" id="collapse_3">
                            <div class="card-body">
                                <input type="range" class="custom-range" min="1" max="100" name="price"
                                    [(ngModel)]="filterPrice" (change)="filterPriceFunc()">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Min</label>
                                        <input class="form-control" placeholder="500.000.000 đ" type="number">
                                    </div>
                                    <div class="form-group text-right col-md-6">
                                        <label>Max</label>
                                        <input class="form-control" placeholder="3.000.000.000 đ" type="number">
                                    </div>
                                </div> <!-- form-row.// -->
                            </div><!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group .// -->
                    <article class="filter-group">
                        <ul class="banner-discount">
                            <img src="assets/img/banner_sale.jpg" style="padding-left: 1em;" alt="">
                        </ul>
                    </article> <!-- filter-group .// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <main class="col-lg-9 col-md-8 col-sm-12">
                <section class="light">
                    <div class="container py-2">
                        <article class="postcard light yellow" *ngFor="let item of products
                        | filter: searchText
                        | filterPrice: priceValue
                        | locationFilter: filterLocation
                        | paginate : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                      };
                let i = index" [class.active]="i == 1
                    ">
                            <a class="postcard__img_link" routerLink="/products/{{item.id}}">
                                <img class="postcard__img" src={{item.image}} alt="Image Title" />

                                <div class="postcard__text t-dark">
                                    <h1 class="postcard__title yellow"><a href="#">{{item.name}}</a></h1>

                                    <div class="postcard__bar"></div>
                                    <div class="postcard__preview-txt"
                                        style="font-size: x-large; font-weight: 600; padding: 1em 0;">
                                        {{formatNumberService.formatNumber(item.price)}}
                                    </div>
                                    <ul class="postcard__tagbox">
                                        <li class="tag__item"><i class="fas fa-tag mr-2"></i>
                                            <span class="">
                                                <fa-icon [icon]="faChartArea"></fa-icon> {{item.area}} m<sup>2</sup>
                                            </span>
                                        </li>
                                        <li class="tag__item"><i class="fas fa-clock mr-2"></i>
                                            <fa-icon [icon]="faBed" d-block></fa-icon>
                                            <span>

                                                {{item.bedroom}} phòng ngủ</span>
                                        </li>
                                        <li class="tag__item play yellow">
                                            <a href="#"><i class="fas fa-play mr-2"></i><span>
                                                    <fa-icon [icon]="faBath"></fa-icon> {{item.bathroom}} phòng tắm
                                                </span></a>
                                        </li>
                                        <li class="tag__item play yellow">
                                            <a href="#"><i class="fas fa-play mr-2"></i>
                                                <span>
                                                    <fa-icon [icon]="faCompass"></fa-icon> {{item.direct}}
                                                </span>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </a>
                        </article>
                    </div>
                </section>


                <nav class="mt-4" aria-label="Page navigation sample">
                    <ul class="pagination">
                        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="tabSize($event)">
                        </pagination-controls>
                    </ul>
                </nav>

            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>