<div class="follow">
    <div class="content">
        <h1>Liên hệ với chúng tôi</h1>
        <p>Để lại lời nhắn để được tư vấn về những dự án của công ty, đổng thời
            nhận được những ưu đãi đến từ dịch vụ chăm sóc khách hàng
        </p>

    </div>
    <div class="follow-container">
        <div class="contactInfo">
            <div class="box">
                <div class="icon"><i class="eva eva-pin"></i></div>
                <div class="text">
                    <h3>Địa chỉ</h3>
                    <p>72 đường Phạm Ngũ Lão, Quận 1</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="eva eva-phone"></i></div>
                <div class="text">
                    <h3>Số điện thoại</h3>
                    <p>+123123098</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="eva eva-email"></i></div>
                <div class="text">
                    <h3>Email</h3>
                    <p>dlk@company.ecommerce.com</p>
                </div>
            </div>

        </div>
        <div class="contactForm">
            <form action="">
                <h2>Gửi lời nhắn</h2>
                <div class="inputBox">
                    <input type="text" name="" required>
                    <span>Họ & tên *</span>
                </div>
                <div class="inputBox">
                    <input type="email" name="" required>
                    <span>Email *</span>
                </div>
                <div class="inputBox">
                    <textarea name="" required></textarea>
                    <span>Lời nhắn của bạn... * </span>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
</div>