<div class="login-container">
    <div class="center">
        <h1>Login</h1>
        <form #loginForm="ngForm">
            <div class="txt_field">
                <input 
                    type="email" 
                    required
                    [(ngModel)]="username"
                    name="username"
                    #userName=ngModel
                    >   
                <span></span>
                <label for="">Username</label>
            </div>
            <p
                class="error"
                style="color: red;"
                *ngIf="userName.invalid && userName.touched"
                >
                Username is required
        </p>
            <div class="txt_field">
                <input 
                    type="password" 
                    required
                    [(ngModel)]="password"
                    #userPassword=ngModel
                    name="passoword"
                    >
    
                <span></span>
                <label for="">Password</label>
            </div>
            <p
                style="color: red;"
                *ngIf="userPassword.invalid && userPassword.touched"
            >Password is required</p>
            <div class="pass">Forgot Password</div>
            <input 
                type="submit" 
                value="Login" 
                [disabled]="loginForm.invalid"
                >
            <div class="signup_link">
                Not a member? <a routerLink="/register">Sign up</a>
            </div>
        </form>
    </div>
</div>
