<div class="event-header">
    <div class="header-overlay">
        <h1>Sự kiện</h1>
    </div>
</div>
<hr>
<div class="main-event">
    <div class="event-container">
        <div data-aos="fade-left" data-aos-duration="1000" class="event-wrap">
            <!-- <div *ngFor="let event of events">
                <app-event-item [event]="event"></app-event-item>
            </div> -->
            <div *ngFor="let event of events" title="{{event.title}}" class="event-item">
                <a class="item-img" routerLink="/events/{{event.id}}"><img [src]="event.image" alt="event image"></a>
                <h3>{{event.title}}</h3>
                <a class="item-time" routerLink="/events/{{event.id}}">Thời gian: {{event.time}} [...]</a>
                <p>Xem thêm</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="events.length>0" class="view-all">
    <a href="#">Xem tất cả sự kiện</a>
</div>
<div *ngIf="events.length == 0" class="view-all">
    <p>Không có sự kiện nào</p>
</div>