<main class="container">
 
    <!-- Left Column / Headphones Image -->
    <div class="left-column" >
      <img 
        data-image="red" 
        class="active" 
        [src]="imgSrc[index]"
        alt=""
        >
      <button (click)="decreIndex()" class="left"><i class="eva eva-arrow-left"></i></button>
      <button (click)="increIndex()" class="right"><i class="eva eva-arrow-right"></i></button>
    </div>
    <!-- Right Column -->
    <div class="right-column">
      <!-- Product Description -->
      <div class="product-description">
        <h1>Beats EP</h1>
        <p>The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and high isolation. Sturdy headband and on-ear cushions suitable for live performance</p>
      </div>
   
      <!-- Product Configuration -->
      <div class="product-configuration">
        <!-- Product Color -->
        <div class="cable-config">
          <span>Khả năng bán ra: </span>
          <span>Khá</span>
        </div>
   
        <!-- Cable Configuration -->
        <div class="cable-config">
          <span>Giá một phần: </span>
          <span>4.000.000 VND</span>
        </div>

        <div class="cable-config">
          <span>Tổng số phần: </span>
          <span>50</span>
        </div>
        <div class="cable-config">
          <span>Tổng giá trị: </span>
          <span>200.000.000 VND</span>
        </div>

        <div class="cable-config">
          <span>Số phần bạn mua: </span>
          <input type="number" value="{{ numOfMounts }}" class="text-center">
          <button (click)="increNum()"><i class="eva eva-arrow-ios-upward"></i></button>
          <button (click)="decreNum()"><i class="eva eva-arrow-ios-downward"></i></button>
        </div>
      </div>
   
      <!-- Product Pricing -->
      <div class="product-price">
        <span style="font-size: 16px;">Tổng giá trị</span>
        <span style="font-size: 18px; font-weight: bolder;">{{ formatNumber(numOfMounts * 4000000) }}</span>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </main>