<div class="checkout">
  <app-header-page [name] = "'Xác nhận'"></app-header-page>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h1 class="mb-3"><b>Căn hộ</b></h1>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h3 class="my-0"><b>{{apartment.name}}</b></h3>
                <small class="text-muted">{{apartment.project.name}}</small>
              </div>
              <span class="text-muted pt-1">{{ formatNumberService.formatNumber(apartment.price)}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h3 class="my-0">Thuế GTGT</h3>
              </div>
              <span class="text-muted">{{ formatNumberService.formatNumber(apartment.price*0.1)}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h3 class="my-0">Phí bảo trì</h3>
                <small class="text-muted"></small>
              </div>
              <span class="text-muted">{{ formatNumberService.formatNumber(apartment.price*0.02)}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h3 class="my-0">Mã giảm giá</h3>
                <small>westpoint</small>
              </div>
              <span class="text-success">-{{ formatNumberService.formatNumber(couponValue)}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <h2 class="my-0">Thành tiền</h2>
              <h2 class="my-0">{{ formatNumberService.formatNumber(totalPrice)}}</h2>
            </li>
          </ul>
        </div>
        <div class="col-md-8 order-md-1">
          <h1 class="mb-3"><b>Thông tin khách hàng</b></h1>
          <form class="needs-validation was-validated" novalidate="">
            <div class="mb-3">
              <label for="name">Họ tên <span class="text-muted"></span></label>
              <input type="text" [value]="user.displayName" class="form-control" id="name" placeholder="email@example.com">
              <div class="invalid-feedback">
                Vui lòng điền tên hợp lệ !
              </div>
            </div>

            

            <div class="mb-3">
              <label for="email">Email <span class="text-muted"></span></label>
              <input type="email" [value]="user.email" class="form-control" id="email" placeholder="email@example.com">
              <div class="invalid-feedback">
                Vui lòng điền email hợp lệ !
              </div>
            </div>
            <div class="mb-3">
              <label for="phone">Địa chỉ</label>
              <input type="number" value="0387127372" class="form-control" id="phone" placeholder="Số điện thoại" required="">
              <div class="invalid-feedback">
                Vui lòng điền số điện thoại hợp lệ !
              </div>
            </div>
            <div class="mb-3">
              <label for="address">Địa chỉ</label>
              <input type="text" value="Quang Trung, Đồng Nai"  class="form-control" id="address" placeholder="Địa chỉ" required="">
              <div class="invalid-feedback">
                Vui lòng điền địa chỉ hợp lệ !
              </div>
            </div>
            <hr class="mb-4">
            <div class="note">
              <h1>* Lưu ý:</h1>
              <p>Khi bấm Xác nhận đặt mua, chúng tôi sẽ liên hệ với quý khách qua thông tin của quý khách ở trên</p>
              <p><b>Tuyệt đối KHÔNG </b>thanh toán bất kỳ khoản tiền nào trước khi chúng tôi liên hệ với quý khách</p>
            </div>

            
      
            
            <hr class="mb-4">

            
            <button class="btn btn-primary btn-lg btn-block" (click)="payment()">Xác nhận đặt mua</button>
            <app-notification *ngIf="notification" [type]="true" [message] = "'Thành công'"></app-notification>
          </form>
        </div>
      </div>

     
    </div>
  </div>
</div>








