$card-checkout-height:350px;
$card-checkout-width:600px;
$card-checkout-border-radius:15px;
$card-checkout-box-shadow:-1px 6px 30px 0px #aeaeae;
$left-content-background-color:#FFFFFF;
$left-content-width:30%;
$left-content-height:100%;
$right-content-width:70%;
$right-content-height:100%;
$right-content-start-color:#0056A3;
$right-content-middle-color:#004F90;
$right-content-finish-color:#00447A;
$right-content-right-radius:15px;
$list-height:calc(100% - 50px);
$list-title-color:#004e8f;
$back-button-height:50px;
$back-button-hover-background-color:#eceef1;
$back-button-color:#2f4053;
$back-button-border-top:1px solid #eceef1;
$top-content-height:50px;
$top-content-border-bottom:1px solid #bbbbbb70;
$bottom-content-border-top:1px solid #ffefef52;
$top-content-title-color:#ffffffa6;
$check-button-color:#ffffffd4;
$check-button-background-color:#ffffff00;
$check-button-hover-color:#FFFFFF;
$check-button-hover-background-color:#ffffff24;

.date-input {
  width: 35%;
  display: inline-block;
  margin-right: 60px;
}

.cvv-input {
  width: 25%;
  display: inline-block;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-checkout {
  height: $card-checkout-height;
  width: $card-checkout-width;
  position: relative;
  border-radius: $card-checkout-border-radius;
  -webkit-box-shadow: $card-checkout-box-shadow;
  -moz-box-shadow: $card-checkout-box-shadow;
  box-shadow: $card-checkout-box-shadow;
  font-family: 'Open Sans', sans-serif;

  .left-content {
    display: inline-block;
    width: $left-content-width;
    height: $left-content-height;

    .list {
      height: $list-height;
      list-style: none;
      -webkit-padding-start: 0;
      margin: 0;
      padding-top: 50px;
      padding-left: 20px;

      li {
        margin-bottom: 15px;

        h4 {
          margin: 0;
          font-family: 'Open Sans', sans-serif;
          font-weight: 900;
          font-style: normal;
          color: $list-title-color;
        }

        h5 {
          margin: 0;
          margin-bottom: 5px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          font-style: normal;
          font-size: 11px;
        }
      }

      li:nth-child(1) {
        animation: slideInUp .4s ease-out;
      }

      li:nth-child(2) {
        animation: slideInUp .6s ease-out;
      }

      li:nth-child(3) {
        animation: slideInUp .8s ease-out;
      }
    }

    .back-button {
      font-family: 'Open Sans', sans-serif;
      font-weight: 900;
      font-style: normal;
      font-size: 15px;
      color: $back-button-color;
      position: absolute;
      bottom: 0;
      left: 0;
      outline: none;
      border: none;
      box-shadow: none;
      cursor: pointer;
      background: $left-content-background-color;
      height: $back-button-height;
      border-bottom-left-radius: $card-checkout-border-radius;
      width: $left-content-width;
      border-top: $back-button-border-top;

      i {
        margin-left: -20px;
        margin-right: 10px;
      }
    }

    .back-button:hover {
      background: $back-button-hover-background-color;
      border-top: $back-button-border-top;
      transition: all .4s;
    }
  }

  .right-content {
    position: absolute;
    right: 0;
    display: inline-block;
    width: $right-content-width;
    height: $right-content-height;
    border-bottom-right-radius: $right-content-right-radius;
    border-top-right-radius: $right-content-right-radius;
    background-image: -ms-linear-gradient(bottom right, $right-content-start-color 0%, $right-content-middle-color 75%, $right-content-finish-color 100%);
    background-image: -moz-linear-gradient(bottom right, $right-content-start-color 0%, $right-content-middle-color 75%, $right-content-finish-color 100%);
    background-image: -o-linear-gradient(bottom right, $right-content-start-color 0%, $right-content-middle-color 75%, $right-content-finish-color 100%);
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, $right-content-start-color), color-stop(75, $right-content-middle-color), color-stop(100, $right-content-finish-color));
    background-image: -webkit-linear-gradient(bottom right, $right-content-start-color 0%, $right-content-middle-color 75%, $right-content-finish-color 100%);
    background-image: linear-gradient(to top left, $right-content-start-color 0%, $right-content-middle-color 75%, $right-content-finish-color 100%);

    .top-content {
      height: $top-content-height;
      border-bottom: $top-content-border-bottom;
      vertical-align: middle;
      line-height: $top-content-height;

      h5 {
        margin: 0 10px;
        font-size: 12px;
        font-weight: 400;
        display: inline-block;
        color: $top-content-title-color;
      }

      i {
        color: $top-content-title-color;
      }

      .card-logo {
        width: 50px;
        float: right;
        margin-right: 10px;
      }
    }

    .middle-content {
      width: 80%;
      height: calc(100% - 141px);
      padding: 20px 15px;
    }

    .bottom-content {
      height: 50px;
      border-top: $bottom-content-border-top;
      border-bottom-right-radius: $card-checkout-border-radius;

      .check-button {
        width: 100%;
        border-bottom-right-radius: $card-checkout-border-radius;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        outline: none;
        border: none;
        box-shadow: none;
        cursor: pointer;
        transition: all .7s;
        height: $back-button-height;
        width: 100%;
        color: $check-button-color;
        background: $check-button-background-color;
        text-align: left;
        padding-left: 40px;

        i {
          margin-left: -20px;
          margin-right: 10px;
          position: absolute;
          right: 30px;
        }
      }

      .check-button:hover {
        transition: all .7s;
        color: $check-button-hover-color;
        background: $check-button-hover-background-color;
      }
    }
  }

  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-25%, 0, 0);
      visibility: visible;
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }
}

/******** MATERIAL INPUT ********/
$colors:(material-input-border-bottom:1px solid #757575, material-input-focus-border-bottom:1px solid #757575, material-input-label-color:#999, material-input-focus-label-color:#d75a4a, material-input-icon-color:#dcd4d4c7, );
$material-input-icon--active-color:#FFFFFF;
$material-input-bar-before-color:#ffffff;
$material-input-focus-label-color:#FFFFFF;
$material-input-text-color:#FFFFFF;

/*********** INPUT *************/

textarea.material-input:focus~label,
textarea.material-input:valid~label,
input.material-input:focus~label,
input.material-input:valid~label {
  color: map-get($colors, 'material-input-focus-label-color');
}

.material-input-bar:before,
.material-input-bar:after {
  background: $material-input-bar-before-color;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
  from {
    background: map-get($colors, 'inputhighlighter-background-color');
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: map-get($colors, 'inputhighlighter-background-color');
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: map-get($colors, 'inputhighlighter-background-color');
  }

  to {
    width: 0;
    background: transparent;
  }
}


/* ********* INPUT *********** */

.material-input-group {
  position: relative;
  margin-bottom: 25px;
  /* border-radius: 30px;
  padding: 2px 20px;
  box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.31);*/
}

.material-input-group i {
  position: absolute;
  top: 6px;
  left: 5px;
  color: map-get($colors, 'material-input-icon-color');
  font-size: 23px;
}

.material-input-group i.active {
  color: $material-input-icon--active-color
}

textarea.material-input.iconic,
input.material-input.iconic {
  padding: 14px 10px 10px 40px;
}

.material-input-error {
  margin-top: 4px;
  margin-left: 4px;
  color: #D75A4A;
  display: block;
  text-align: left;
}

textarea.material-input,
input.material-input {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: map-get($colors, 'material-input-border-bottom');
  background: transparent;
  transition: all .7s;
  -webkit-transition: all .5s;
  color: $material-input-text-color;
}

textarea.material-input {
  resize: vertical;
  overflow: auto;
}

textarea.material-input:focus,
input.material-input:focus {
  outline: none;
  /*border-bottom: 1px solid $material-input-bar-before-color;*/
}


/* LABEL ======================================= */

label.material-input-label {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  color: map-get($colors, 'material-input-label-color');
}

label.material-input-label.iconic {
  left: 40px;
}


/* active state */

textarea.material-input:focus~label.material-input-label,
textarea.material-input:valid~label.material-input-label,
input[disabled].material-input~label.material-input-label,
input.material-input:focus~label.material-input-label,
input.material-input:valid~label.material-input-label {
  top: -20px;
  font-size: 14px;
}


/* active state */

textarea.material-input.iconic:focus~label.material-input-label,
textarea.material-input.iconic:valid~label.material-input-label,
input[disabled].material-input.iconic~label.material-input-label,
input.material-input.iconic:focus~label.material-input-label,
input.material-input.iconic:valid~label.material-input-label {
  top: -10px;
  left: 5px;
  color: $material-input-focus-label-color;
  font-size: 11px;
}


/* BOTTOM BARS ================================= */

.material-input-bar {
  position: relative;
  width: calc(100% + 50px);
  display: block;
}

.material-input-bar:before,
.material-input-bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.material-input-bar:before {
  left: 50%;
}

.material-input-bar:after {
  right: 50%;
}


/* active state */

textarea.material-input:focus~.material-input-bar:before,
textarea.material-input:focus~.material-input-bar:after,
input.material-input:focus~.material-input-bar:before,
input.material-input:focus~.material-input-bar:after {
  width: 50%;
}


/* HIGHLIGHTER ================================== */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}