<div class="main-content">
  <div class="card-checkout">
    <div class="left-content">
      <ul class="list">
        <li style="margin: 1em;">
          <h5>Tên công ty</h5>
          <h4>DLK Company</h4>
        </li>
        <li style="margin: 1em;">
          <h5>Số tài khoản</h5>
          <h4>1892394241
          </h4>
        </li>
        <li style="margin: 1em;">
          <h5>Ngân hàng</h5>
          <h4><i class="mdi mdi-currency-try"></i>BIDV Đông Sài Gòn</h4>
        </li>
      </ul>
      <button class="back-button"> <i class="mdi mdi-chevron-left"></i> Hủy</button>
    </div>
    <div class="right-content">
      <div class="top-content">
        <h5>MASTER CARD</h5><i class="mdi mdi-chevron-right"></i>
        <img class="card-logo" src="https://image.flaticon.com/icons/svg/179/179449.svg" />
      </div>
      <div class="middle-content">
        <div class="material-input-group">
          <i class="mdi mdi-account"></i>
          <input type="text" class="material-input iconic" value="Minh Đạt" required>
          <span class="highlight"></span>
          <span class="material-input-bar"></span>
          <label class="material-input-label iconic">Tên người giao dịch</label>
        </div>
        <div class="material-input-group">
          <i class="mdi mdi-credit-card"></i>
          <input type="text" class="material-input iconic" value="5432 3465 1709 89" required>
          <span class="highlight"></span>
          <span class="material-input-bar"></span>
          <label class="material-input-label iconic">Tài khoản ngân hàng</label>
        </div>
        <div class="material-input-group">
          <i class="mdi mdi-credit-card"></i>
          <input type="text" class="material-input iconic" value="BIDV" required>
          <span class="highlight"></span>
          <span class="material-input-bar"></span>
          <label class="material-input-label iconic">Lựa chọn ngân hàng</label>
        </div>
      </div>
      <div class="bottom-content">
        <button class="check-button" (click)="payment()">Thanh toán<i class="mdi mdi-chevron-right"></i></button>
      </div>
    </div>
  </div>
</div>